* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(167, 167, 167);
  overflow-x: hidden;
  background: rgb(255, 242, 0);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(255, 235,0,1)),
      to(rgb(255, 145, 0))
    )
    fixed;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  background: rgb(36, 34, 0);
  background: linear-gradient(
    to top,
    rgba(36, 34, 0, 1) 0%,
    rgba(255, 235, 0, 1) 0%,
    rgba(255, 149, 0, 1) 100%
  );
}

.logo {
  height: 150px;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100vw;
  margin-right: 20px;
}

.button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.home {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
}
.veiculos {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  margin-right: 600px;
  cursor: pointer;
}

.pesquisarCarro {
  display: flex;
  flex-direction: row;
}
.pesquisa {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.pesquisa-botao {
  height: 30px;
  display: flex;
  align-items: center;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.lupa {
  height: 20px;
}

.lancamentos {
  display: flex;
  width: 100%;
  border-top: 100px;
  flex-direction: row;
  padding: 20px;
}

@media (max-width: 500px) {
  *{
    overflow-x: hidden;
  }
  .container{
    width: 100%;
  }
  .lancamentos{
    flex-direction: column;
  }
  .detalhes-carro{
    font-family: 10px;
    width: 100%;
    height: 400px;
    margin-top: 10px
  }
 
}
h2 {
  color: rgb(255, 255, 255);
  text-shadow: black 0.1em 0.1em 0.2em
}
.carro-circle {
  margin-left: -300px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.circle {
  background-color: rgb(223, 221, 221);
  border-radius: 100%;
  width: 500px;
  height: 500px;
  margin-top: 70px;
  margin-left: -100px;
}
.carro {
  height: 350px;
  width: 600px;
  position: absolute;
  margin-left: 100px;
  margin-top: 160px;
}

.detalhes-carro {
  display: flex;
  margin-right: 200px;
  max-width: 300px;
  max-height: 300px;
  flex-direction: column;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.445);
  padding: 30px;
  border-radius: 60px;
}
.veiculos-a-venda {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.strada,
.trailblazer,
.pulse,
.i30,
.corvete,
.lambo,
.civic,
.camaro,
.audi {
  width: 200px;
  height: 130px;
}

.primeiraLinha {
  display: flex;
  flex-direction: column;
}
.segundaLinha {
  display: flex;
  flex-direction: column;
}
.terceiraLinha {
  display: flex;
  flex-direction: column;
}
.veic-1,
.veic-2,
.veic-3,
.veic-4,
.veic-5,
.veic-6,
.veic-7,
.veic-8,
.veic-9 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 35px;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 15px;
  color: white;
  border-radius: 10px;
}
